.flash-box
.wrapper
  .chat-side
    .side-header
      %p.user-name 3333
      %ul.user-menu
        %li.user-menu__edit-user
          = link_to do 
            %i.fa.fa-edit
            / ボタンここ groups_new_path(group)！！！！
        %li.user-menu__new-group
          = link_to do
            %i.fa.fa-cog
            / ボタンここ "/users/490/edit"！！！！
    .groups
      = link_to do
        .group
          %p.group__group-name 3
          %p.group__latest-message メッセージ

  .chat-main
    .main-header
      .current-group{"data-group_id" => "969"}
        %h2.current-group__name 3
        %ul.member-list
          Member：
          %li.member-list__member 3
      = link_to do 
        .main-header__edit-btn Edit
    .messages
      .message{"data-message_id" => "2318"}
        .upper-info
          %p.upper-info__user
          %p.upper-info__date 2019/05/03(Fri) 17:38:07
        %p.message__text メッセージ
    .form
      %form#new_message.new-message{"accept-charset" => "UTF-8", :action => "/groups/969/messages", :enctype => "multipart/form-data", :method => "post"}
        / Railsへformタグを作成するとデフォルトで付いてくるっぽい。CSRF対策
        %input{:name => "utf8", :type => "hidden", :value => "✓"}/
        / Railsへformタグを作成するとデフォルトで付いてくるっぽい。CSRF対策
        %input{:name => "authenticity_token", :type => "hidden", :value => "YEoJAS77mlLidMxFX7zI+Kti1oAJgPjNKscLBFzW0V82bGkCwW0+sS+LVi+LSlsX7UoGgGkpPrgLk83ljmIYEA=="}/
        .input-box
          / テキスト入力
          %input#message_content.input-box__text{:name => "message[content]", :placeholder => "type a message", :type => "text"}/
          / 画像選択
          %label.image-label{:for => "message_image"}
            / 画像選択ボタン
            %i.fa.fa-image
            / 『ファイルを選択』ボタン
            %input#message_image.image-label__input{:name => "message[image]", :type => "file"}/
        / Sendボタン
        %input.new-message__submit-btn{"data-disable-with" => "Send", :name => "commit", :type => "submit", :value => "Send"}/
